@import url('https://fonts.googleapis.com/css2?family=Maiden+Orange&family=Montserrat&display=swap');

$font-primary: 'Maiden Orange';
$font-secondary: 'Montserrat';

$color-dark: #212025;
$color-purpleligth: #D4ADCF;
$color-purpledark: #8F6692;
$color-white: #fff;
$color-firstgradient: linear-gradient(#D4ADCF, #8F6692);

* {
  margin: 0;
  padding: 0;
}
#welcome {
  padding: 1rem 1rem 0 1rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#navbar {
  background-color: linear-gradient($color-dark, transparent);
  position: sticky;
  display: flex;
  justify-content: space-between;
  margin: 1rem;

}
h1 {
  font-family: $font-primary;
  font-weight: 100;
  font-size: 5em;
  color: $color-white;
}

h2 {
  font-family: $font-primary;
  font-weight: 100;
  font-size: 4rem;
  color: $color-purpleligth;
  font-size: 2.5rem;
}
p {
  font-family: $font-primary;
  color: $color-white;
  font-size: 2rem;
  margin: 1rem 0;
}

body {
  background-color: $color-dark;
}

button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.7rem;
  font-family: $font-secondary;
}


.btn-roxo {
  color: $color-dark;
  background: $color-firstgradient;
  margin: 1rem 0;
}

.btn-nobg {
  color: $color-purpleligth;
  background-color: transparent;
}

.imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .logos {
    display: flex;
    flex-direction: column;
    justify-content: end;
    img {
      margin: 1rem;
    }
  }
}

