@import url('https://fonts.googleapis.com/css2?family=Maiden+Orange&family=Montserrat&display=swap');

$font-primary: 'Maiden Orange';
$font-secondary: 'Montserrat', serif;

$color-dark: #212025;
$color-purpleligth: #D4ADCF;
$color-purpledark: #8F6692;
$color-white: #fff;
$color-firstgradient: linear-gradient(#D4ADCF, #8F6692);

* {
  margin: 0;
  padding: 0;
}
#welcome {
  background-color: $color-dark;
  padding: 1rem 1rem 0 1rem;
  height: 80vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 90%;
  align-items: center;
  background-color: linear-gradient($color-dark, transparent);
}
h1 {
  font-family: $font-primary;
  font-weight: 100;
  font-size: 4rem;
  color: $color-white;
}

h2 {
  font-family: $font-primary;
  font-weight: 100;
  font-size: 4rem;
  color: $color-purpleligth;
  font-size: 2.5rem;
}
p {
  font-family: $font-secondary;
  color: $color-white;
  margin: 1rem 0;
}


button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.7rem;
  font-family: $font-secondary;
}


.btn-roxo {
  color: $color-dark;
  background: $color-firstgradient;
  margin: 1rem 0;
}

.btn-nobg {
  color: $color-purpleligth;
  background-color: transparent;
}

.imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;

  .logos {
    display: flex;
    flex-direction: column;
    justify-content: end;
    img {
      margin: 1rem;
    }
  }
}

#aboutme {
  background-color: $color-purpledark;
  padding: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 60vh

  
}
 
#btn-aboutme {
  display: flex;
  flex-direction: row;
  justify-content: center;

  button {
    margin: 1rem;
    background-color: transparent;
  }
}

#description-aboutme {
  text-align: center;
}