@import url("https://fonts.googleapis.com/css2?family=Maiden+Orange&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
}

#welcome {
  background-color: rgb(33, 32, 37);
  padding: 1rem 1rem 0 1rem;
  height: 80vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#text-welcome {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background: rgba(33, 32, 37, 0.8);
  outline-color: rgba(33, 32, 37, 0.8);
  border-bottom-color: rgba(33, 32, 37, 0.8);
}
#navbar img {
  padding: 0.5rem;
  margin: 1rem;
  width: 2rem;
}

h1 {
  font-family: "Maiden Orange";
  font-weight: 100;
  font-size: 3rem;
  color: #fff;
}

h2 {
  font-family: "Maiden Orange";
  font-weight: 100;
  font-size: 4rem;
  color: rgb(212, 173, 207);
  font-size: 2.5rem;
}

h3 {
  font-family: "Maiden Orange";
  color: rgb(212, 173, 207);
  font-weight: 100;
  font-size: 2rem;
}

p {
  font-family: "Montserrat", serif;
  color: #fff;
  margin: 1rem 0;
}

button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.7rem;
  font-family: "Montserrat", serif;
}

.btn-roxo {
  color: rgb(33, 32, 37);
  background: linear-gradient(#D4ADCF, #8F6692);
  margin: 1rem 0;
}

.btn-nobg {
  color: rgb(212, 173, 207);
  background-color: transparent;
}

.imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
}
.imgs .logos {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.imgs .logos img {
  margin: 1rem;
}

#aboutme {
  background-color: rgb(143, 102, 146);
  padding: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#btn-aboutme {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#btn-aboutme button {
  margin: 1rem;
  background-color: transparent;
}

#description-aboutme {
  text-align: center;
}

#projects {
  background-color: rgb(33, 32, 37);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.card-glass {
  padding: 1rem 1rem 0 1rem;
  background: linear-gradient(#353236, #222025);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-glass h3 {
  color: #D4ADCF;
  font-family: "Montserrat", serif;
  margin-bottom: 0.9rem;
  font-size: 0.9rem;
}
.card-glass .card-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-glass .card-bottom p {
  font-size: 70%;
}

#help-with {
  background: rgba(33, 32, 37, 0.9);
  padding: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#help-with h2 {
  color: #fff;
  font-size: 2rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}
.flex-row div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.flex-row div img {
  width: 2rem;
  padding: 1rem;
}
.flex-row div h3 {
  font-family: "Montserrat", serif;
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
}
.flex-row div p {
  font-size: 0.8rem;
  text-align: center;
}

#stacks {
  background-color: rgb(33, 32, 37);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#stacks div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0;
}
#stacks div img {
  padding: 0.5rem;
  align-items: center;
  width: 3rem;
  transition: transform 0.3s ease, color 0.3s ease, 0.3s ease;
}
#stacks div img:hover {
  transform: translateY(-10px) scale(1.1);
}

#contact-me {
  background-color: rgb(33, 32, 37);
  padding: 1rem;
}
#contact-me h1 {
  font-size: 2.5rem;
  margin: 1rem;
  text-align: center;
}
#contact-me div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact-me div img {
  width: 20rem;
}
#contact-me div form {
  display: flex;
  flex-direction: column;
  width: 75%;
}
#contact-me div form label {
  font-family: "Montserrat", serif;
  color: #a7a7a7;
  padding: 1rem 1rem 0 1rem;
}
#contact-me div form input {
  background-color: transparent;
  border: none;
}

.line {
  width: 100%;
  background-color: #a7a7a7;
  height: 1.5px;
  margin-bottom: 1rem;
}

.line::after {
  background-color: linear-gradient(#D4ADCF, #8F6692);
}

footer {
  background-color: #353236;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
footer p {
  font-size: 0.5rem;
}
footer .logos img {
  padding: 0.2rem;
}

@media (width > 1250px) {
  #welcome {
    padding: 4rem 4rem 0 4rem;
    height: 80vh;
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 3rem;
  }
  button {
    padding: 0.7rem;
    border-radius: 0.9rem;
    font-size: 1rem;
  }
  #text-welcome {
    height: 80%;
    margin: 1rem;
  }
  .imgs {
    width: fit-content;
    height: max-content;
  }
  .imgs #myselfft {
    height: 60vh;
  }
  .imgs .logos img {
    margin: 1rem;
    width: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
