@import url('https://fonts.googleapis.com/css2?family=Maiden+Orange&family=Montserrat&display=swap');

$font-primary: 'Maiden Orange';
$font-secondary: 'Montserrat', serif;

$color-darker: rgb(33,32,37);
$color-dark: rgba(33, 32, 37, 0.9);
$color-purpleligth: rgb(212,173,207);
$color-purpledark: rgb(143,102,146);
$color-white: #fff;
$color-firstgradient: linear-gradient(#D4ADCF, #8F6692);

* {
  margin: 0;
  padding: 0;
}
#welcome {
  background-color: $color-darker;
  padding: 1rem 1rem 0 1rem;
  height: 80vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  

}
#text-welcome{
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

#navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background: rgba(33,32,37, 0.8);
  outline-color: rgba(33,32,37, 0.8);
  border-bottom-color: rgba(33,32,37, 0.8);
  img{
    padding: 0.5rem;
    margin: 1rem;
    width: 2rem;
  }
}
h1 {
  font-family: $font-primary;
  font-weight: 100;
  font-size: 3rem;
  color: $color-white;
}

h2 {
  font-family: $font-primary;
  font-weight: 100;
  font-size: 4rem;
  color: $color-purpleligth;
  font-size: 2.5rem;
}

h3 {
  font-family: $font-primary;
  color: $color-purpleligth;
  font-weight: 100;
  font-size: 2rem;
}

p {
  font-family: $font-secondary;
  color: $color-white;
  margin: 1rem 0;
}


button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.7rem;
  font-family: $font-secondary;
}


.btn-roxo {
  color: $color-darker;
  background: $color-firstgradient;
  margin: 1rem 0;
}



.btn-nobg {
  color: $color-purpleligth;
  background-color: transparent;
}

.imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;

  .logos {
    display: flex;
    flex-direction: column;
    justify-content: end;
    img {
      margin: 1rem;
    }
  }
}

#aboutme {
  background-color: $color-purpledark;
  padding: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;

  
}
 
#btn-aboutme {
  display: flex;
  flex-direction: row;
  justify-content: center;

  button {
    margin: 1rem;
    background-color: transparent;
  }

}

#description-aboutme {
  text-align: center;
}

#projects {
  background-color: $color-darker;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  
}

.card-glass{
  padding: 1rem 1rem 0 1rem;
  background: linear-gradient(#353236, #222025) ;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3{
    color: #D4ADCF;
    font-family: $font-secondary;
    margin-bottom: 0.9rem;
    font-size: 0.9rem;
  }

  .card-bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    p{
      font-size: 70%;
    }
  }
}


#help-with {
  background: $color-dark;
  padding: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  h2 {
    color: #fff;
    font-size: 2rem;
  }
}

.flex-row{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    img{
      width: 2rem;
      padding: 1rem;
    }
    h3 {
      font-family: $font-secondary;
      color: $color-white;
      font-size: 0.9rem;
      text-align: center;
    }
    p {
      font-size: 0.8rem;
      text-align: center;
    }
  }
}

#stacks {
  background-color: $color-darker;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem 0;
    img{
      padding: 0.5rem;
      align-items: center;
      width: 3rem;
      transition: transform 0.3s ease, color 0.3s ease, 0.3s ease;
    }
    img:hover {
      transform: translateY(-10px) scale(1.1);
    }
  }
}

#contact-me{
  background-color: $color-darker;
  padding: 1rem;
  h1{
    font-size: 2.5rem;
    margin: 1rem;
    text-align: center;
  }
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      width: 20rem;
    }
    form {
      display: flex;
      flex-direction: column;
      width: 75%;
      label {
        font-family: $font-secondary;
        color: #a7a7a7;
        padding: 1rem 1rem 0 1rem;

      }
      input{
        background-color: transparent;
        border: none;
      }

    }
  }
}
.line{
  width: 100%;
  background-color: #a7a7a7;
  height: 1.5px;
  margin-bottom: 1rem;
}

.line::after{
  background-color: $color-firstgradient;
}

footer {
  background-color: #353236;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  p{
    font-size: 0.5rem;
  }
  .logos{
    img{
      padding: 0.2rem;
    }
  }
}